<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind CSS V3 Starter</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="flex antialiased">
      <div class="cover cover-signup"></div>
      <div class="form-container">
        <div class="px-8 w-auto xl:w-1/2">
          <div class="space-y-4">
            <div>
              <span class="text-sm text-gray-900">Join us now</span>
              <h1 class="text-2xl font-bold">Register new account</h1>
            </div>
            <div>
              <label class="form-label mb-2" for="email">Email</label>
              <input class="form-input" type="email" name="email" placeholder="Enter your email" />
            </div>
            <div>
              <label class="form-label mb-2" for="password">Password</label>
              <input class="form-input" type="password" name="password" placeholder="Enter password" />
            </div>
            <div>
              <label class="form-label mb-2" for="confirmpassword">Confirm password</label>
              <input class="form-input" type="password" name="confirmpassword" placeholder="Re-enter password" />
            </div>
            <button class="form-btn">Register account</button>
            <div class="w-full text-center">
              <span class="text-sm">Already have an account? </span>
              <a class="text-sm text-orange-600" href="signin.html">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
